body{
    background-color: #EFEFEF;
    background-image: url('search2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 70%;
    background-position: center top;
    height:2000px;
}
#upload{
    position: absolute;
    margin-top:50px;
    margin-left:475px;
    height: 30px;
    width: 100px;
    border:none;
    outline:none;
    background-color: rgba(255,255,255,0);
}
#upload:hover{
    background-color: rgba(255,255,255,0.5);
}

#comment{
    position: absolute;
    margin-top:488px;
    margin-left:393px;
    height: 25px;
    width: 40px;
    border:none;
    outline:none;
    background-color: rgba(255,255,255,0);
}
#comment:hover{
    background-color: rgba(255,255,255,0.5);
  
}